.form-info{
    background-color: white;
    padding: 2rem;
    /* Tạo bóng cho form login */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: 350px;
}

h1{
    text-align:center;
}

.form-input {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 5px;
}

.btn-info {
    margin-top: 5px;
    /* chuyển con trỏ chuột thành hình bàn tay */
    cursor: pointer;
    font-size: 15px;
    color: rgb(17, 17, 17);
    padding: 5px 10px;
}

.input-btn{
    text-align: right;
    margin-right: 10px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    width: 250px;
}

.check{
    margin-left: 10px;
    font-size: 16px;
}

.avata{
    display: flex;
    align-items: center;
    justify-content: center;
}

.avata-img{
    width: 100px;
    height: auto;
    border-radius: 100%;
}

.form-check2, .check-lable2{
    position: relative;
    left:90px;
}

.form-check1, .check-lable1{
    position: relative;
    left:30px;
}